.ant-picker-input{
    margin-left: 8px;  
    border-bottom: 1px solid #707070;
    width: 100%;
}

.ant-picker-input input {
    margin-left: 8px;
    font-size: 18px !important
}

.ant-picker {
    width: 100%;
    padding: 0;
}